openapi: 3.1.0
info:
  title: "API BrokerAssistant"
  version: "1.0.0"
  description: |
    BrokerAssistant API предоставляет функционал для управления лотами на торгах по банкротству, 
    взаимодействия между брокерами и инвесторами, а также распределения прибыли. 
    
    🔐 Безопасность и авторизация:
    - Авторизация реализована через JWT-токены, передаваемые в `HttpOnly`-cookie.
    - Для аутентификации необходимо выполнить логин (`/auth/login`), после чего токен автоматически отправляется в запросах.
    - Фронтенд должен отправлять запросы с `withCredentials: true`, чтобы браузер автоматически передавал `accessToken`.
    - Обновление `accessToken` выполняется через `refreshToken` (`/auth/refresh`).
    - Для выхода из системы вызывается `/auth/logout`, удаляющий сессионные токены.
    
    📄 Документация API:
    - Полный список эндпоинтов доступен в разделе "Paths".
    - Описание параметров запросов находится в "Schemas".
servers:
  - url: "https://api.brokerassistant.com"
    description: "Production server"
  - url: "http://localhost:8080"
    description: "Development server"
tags:
  - name: "Auth"
    description: "Методы аутентификации"
  - name: "Users"
    description: "Методы работы с пользователями"
  - name: "Lots"
    description: "Методы управления лотами"
  - name: "LotStatusHistory"
    description: "Методы управления статусами лотов"
  - name: "Members"
    description: "Управление участниками лотов"
  - name: "Transactions"
    description: "Финансовые транзакции"
  - name: "Expenses"
    description: "Учет расходов"
  - name: "Financials"
    description: "Финансовый учет по лотам"
  - name: "Analytics"
    description: "Аналитические данные"
security:
  - SessionCookiesJWT: [ ]

paths:
  /auth/register:
    post:
      summary: "Регистрация брокера"
      security: [ ]
      tags:
        - "Auth"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
                name:
                  type: string
      responses:
        "201":
          description: "Брокер успешно зарегистрирован"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    properties:
                      message:
                        type: string
                        example: Брокер успешно зарегистрирован
                      data:
                        type: "null"
                      error:
                        type: "null"
                      meta:
                        type: "null"
        "400":
          description: "Ошибка валидации"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"

  /auth/login:
    post:
      summary: "Вход в систему"
      description: "Создает `accessToken` и `refreshToken` (`httpOnly`)"
      security: [ ]
      tags:
        - "Auth"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        "201":
          description: "Успешный вход в систему"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    properties:
                      message:
                        type: string
                        example: "Успешный вход в систему"
                      data:
                        oneOf:
                          - $ref: "#/components/schemas/User.WithIsBroker"
                          - $ref: "#/components/schemas/User.WithoutIsBroker"
                      error:
                        type: "null"
                      meta:
                        type: "null"
        "400":
          description: "Ошибка валидации"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ValidationErrorResponse"
                  - type: object
                    properties:
                      error:
                        type: object
                        properties:
                          message:
                            type: string
                            example: "Неправильный логин и/или пароль"

  /auth/status:
    get:
      summary: "Проверка статуса авторизации"
      description: "Проверяет действительность `accessToken`. Не обновляет `accessToken` и/или `RefreshToken`"
      tags:
        - "Auth"
      responses:
        "200":
          description: "Пользователь авторизован"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    properties:
                      message:
                        type: string
                        example: "Пользователь авторизован"
                      data:
                        oneOf:
                          - $ref: "#/components/schemas/User.WithIsBroker"
                          - $ref: "#/components/schemas/User.WithoutIsBroker"
                      error:
                        type: "null"
                      meta:
                        type: "null"
        "401":
          description: "Пользователь не авторизован или токен истёк"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponse"

  /auth/refresh:
    post:
      summary: "Обновление accessToken"
      description: |
        Если `accessToken` истёк, эндпоинт выдаст новый, используя `refreshToken`, который хранится в `httpOnly`-cookie.

        - Если `refreshToken` действителен → выдает новый `accessToken`.
        - Если `refreshToken` истёк или отсутствует → `401 Unauthorized`, требуется повторный логин.
      tags:
        - "Auth"
      responses:
        "200":
          description: "`accessToken` обновлен"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    properties:
                      message:
                        type: string
                        example: "Сессия пользователя обновлена"
                      data:
                        type: "null"
                      error:
                        type: "null"
                      meta:
                        type: "null"
        "401":
          description: "Ошибка: `refreshToken` истёк или недействителен"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponse"

  /auth/logout:
    post:
      summary: "Выход из системы"
      description: "Удаляет `accessToken` и `refreshToken`, разлогинивает пользователя."
      tags:
        - "Auth"
      responses:
        "200":
          description: "Успешный выход из системы"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    properties:
                      message:
                        type: string
                        example: "Успешный выход из системы"
                      data:
                        type: "null"
                      error:
                        type: "null"
                      meta:
                        type: "null"
        "401":
          description: "Пользователь уже вышел или `refreshToken` отсутствует"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponse"

  #  /auth/yandex/login:
  #    get:
  #      summary: "Перенаправляет пользователя на Яндекс"
  #      tags:
  #        - "Auth"

  #  /auth/yandex/callback:
  #    get:
  #      summary: "Обрабатывает code, получает accessToken от Яндекса"
  #      tags:
  #        - "Auth"

  #  /auth/yandex/register:
  #    post:
  #      summary: "Создаёт пользователя с auth_method = 'yandex'"
  #      tags:
  #        - "Auth"

  #  /auth/yandex/connect:
  #    post:
  #      summary: "Привязывает Яндекс ID к существующему аккаунту"
  #      tags:
  #        - "Auth"

  #  /auth/yandex/unlink:
  #    post:
  #      summary: "Отвязывает Яндекс ID"
  #      tags:
  #        - "Auth"

  /users/me:
    get:
      summary: "Получить данные текущего пользователя"
      description: "Возвращает информацию о текущем пользователе, основываясь на `accessToken` в `httpOnly`-cookie."
      tags:
        - "Users"
      responses:
        "200":
          description: "Данные текущего пользователя"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    properties:
                      message:
                        type: string
                        example: "Данные пользователя"
                      data:
                        oneOf:
                          - $ref: "#/components/schemas/User.WithIsBroker"
                          - $ref: "#/components/schemas/User.WithoutIsBroker"
                      error:
                        type: "null"
                      meta:
                        type: "null"
        "401":
          description: "Пользователь не авторизован"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponse"

    patch:
      summary: "Обновить данные профиля"
      description: "Позволяет пользователю изменить своё имя"
      tags:
        - "Users"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: "Новое имя пользователя"
      responses:
        "200":
          description: "Профиль успешно обновлен"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    properties:
                      message:
                        type: string
                        example: "Профиль успешно обновлён"
                      data:
                        $ref: "#/components/schemas/User"
                      error:
                        type: "null"
                      meta:
                        type: "null"
        "400":
          description: "Ошибка валидации данных"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
        "401":
          description: "Пользователь не авторизован"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponse"

  /users/members:
    get:
      summary: "Получить список участников брокера"
      description: "Возвращает список всех инвесторов и партнеров, участвующих в лотах брокера."
      tags:
        - "Users"
      responses:
        "200":
          description: "Список участников лотов брокера"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    properties:
                      message:
                        type: string
                        example: "Список участников брокера"
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/User.WithoutIsBroker"
                      error:
                        type: "null"
                      meta:
                        type: "null"
        "401":
          description: "Пользователь не авторизован"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponse"

  /lots:
    get:
      summary: "Получить список лотов"
      tags:
        - "Lots"
      responses:
        "200":
          description: "Список лотов"

    post:
      summary: "Создать новый лот"
      tags:
        - "Lots"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                purchasePrice:
                  type: number
                  format: double
                salePrice:
                  type: number
                  format: double
                brokerCommissionPercent:
                  type: number
                  format: float
                brokerTaxPercent:
                  type: number
                  format: float
                purchaseDate:
                  type: string
                  format: date-time
      responses:
        "201":
          description: "Лот успешно создан"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    properties:
                      message:
                        type: string
                        example: "Лот успешно создан"
                      data:
                        type: object
                        properties:
                          lotId:
                            type: string
                            format: uuid
                      error:
                        type: "null"
                      meta:
                        type: "null"
        "401":
          description: "Пользователь не авторизован"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponse"

  /lots/{lotId}:
    get:
      summary: "Получить лот"
      description: "Возвращает информацию о лоте."
      tags:
        - "Lots"
      parameters:
        - name: lotId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: "UUID идентификатор лота"
      responses:
        "200":
          description: "Информация о лоте"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    properties:
                      message:
                        type: string
                        example: "Информация о лоте"
                      data:
                        $ref: "#/components/schemas/Lot"
                      error:
                        type: "null"
                      meta:
                        type: "null"
        "401":
          description: "Пользователь не авторизован"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponse"
        "404":
          description: "Лот не найден"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/NotFoundErrorResponse"
                  - type: object
                    properties:
                      message:
                        type: string
                        example: "Лот не найден"
                      data:
                        type: "null"
                      meta:
                        type: "null"

    patch:
      summary: "Обновить данные лота"
      description: "Позволяет обновить данные лота по id."
      tags:
        - "Lots"
      parameters:
        - name: lot_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: "UUID идентификатор лота"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                status:
                  type: string
                  enum: [ purchased, renovation, hold, listed_for_sale, sold, closed ]
                purchasePrice:
                  type: number
                  format: float
                salePrice:
                  type: number
                  format: float
                brokerCommissionPercent:
                  type: number
                  format: float
                brokerTaxPercent:
                  type: number
                  format: float
                purchaseDate:
                  type: string
                  format: date
      responses:
        "200":
          description: "Лот успешно обновлён"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    properties:
                      message:
                        type: string
                        example: "Лот успешно обновлён"
                      data:
                        $ref: "#/components/schemas/Lot"
                      error:
                        type: "null"
                      meta:
                        type: "null"
        "400":
          description: "Ошибка валидации данных"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
        "401":
          description: "Пользователь не авторизован"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponse"
        "404":
          description: "Лот не найден"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/NotFoundErrorResponse"
                  - type: object
                    properties:
                      message:
                        type: string
                        example: "Лот не найден"
                      data:
                        type: "null"
                      meta:
                        type: "null"

  /lots/{lotId}/status-history:
    get:
      summary: "Получить историю статусов лота"
      description: "Возвращает хронологическую историю изменения статусов лота."
      tags:
        - "LotStatusHistory"
      parameters:
        - name: lotId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: "UUID идентификатор лота"
      responses:
        "200":
          description: "История статусов лота"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    properties:
                      message:
                        type: string
                        example: "История статусов лота"
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/LotStatusHistory"
                      error:
                        type: "null"
                      meta:
                        type: "null"
        "401":
          description: "Пользователь не авторизован"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponse"
        "404":
          description: "Лот не найден"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/NotFoundErrorResponse"
                  - type: object
                    properties:
                      message:
                        type: string
                        example: "Лот не найден"
                      data:
                        type: "null"
                      meta:
                        type: "null"

  /lots/{lot_id}/members:
    get:
      summary: "Получить список участников лота"
      tags:
        - "Members"
      parameters:
        - name: lot_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Список участников"

    post:
      summary: "Добавить участника в лот"
      tags:
        - "Members"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                member_id:
                  type: string
                share_percent:
                  type: number
      responses:
        "201":
          description: "Участник успешно добавлен"

  /lots/{lot_id}/transactions:
    get:
      summary: "Получить список транзакций по лоту"
      tags:
        - "Transactions"
      parameters:
        - name: lot_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Список транзакций"

  /lots/{lot_id}/expenses:
    get:
      summary: "Получить список расходов по лоту"
      tags:
        - "Expenses"
      parameters:
        - name: lot_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Список расходов"

    post:
      summary: "Добавить расход"
      tags:
        - "Expenses"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                amount:
                  type: number
      responses:
        "201":
          description: "Расход успешно добавлен"

  /lots/{lot_id}/financials:
    get:
      summary: "Получить финансовые итоги по лоту"
      tags:
        - "Financials"
      parameters:
        - name: lot_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Финансовые итоги"

  /analytics/dashboard:
    get:
      summary: "Получить общую статистику"
      tags:
        - "Analytics"
      responses:
        "200":
          description: "Данные аналитики"

components:
  securitySchemes:
    SessionCookiesJWT:
      type: apiKey
      in: cookie
      name: access_token
      description: "JWT токен доступа, сохраненный в cookie с флагом HttpOnly"

  schemas:
    BaseResponse:
      type: object
      properties:
        success:
          type: boolean
          description: "Флаг успешности запроса (`true` — запрос выполнен успешно, `false` — произошла ошибка)"
        message:
          type: string
          description: "Краткое описание результата"
        data:
          type: [ object, "null" ]
          nullable: true
          description: "Основные данные ответа. Может быть объектом или `null`"
        error:
          nullable: true
          description: "Информация об ошибке (присутствует, если `success: false`)"
          $ref: "#/components/schemas/Error"
        meta:
          nullable: true
          description: "Дополнительные данные, например, информация о пагинации"
          $ref: "#/components/schemas/Meta"

    ValidationErrorResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            success:
              type: boolean
              enum: [ false ]
            message:
              type: string
              example: "Ошибка валидации"
            data:
              type: "null"
            error:
              allOf:
                - $ref: "#/components/schemas/Error"
                - type: object
                  properties:
                    code:
                      type: integer
                      example: 400
                    message:
                      type: string
                      example: "Некорректные данные"
            meta:
              type: "null"

    UnauthorizedErrorResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            success:
              type: boolean
              enum: [ false ]
            message:
              type: string
              example: "Пользователь не авторизован"
            data:
              type: "null"
            error:
              allOf:
                - $ref: "#/components/schemas/Error"
                - type: object
                  properties:
                    code:
                      type: integer
                      example: 401
                    message:
                      type: string
                      example: "Доступ запрещён"
                    details:
                      type: "null"
            meta:
              type: "null"

    NotFoundErrorResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            success:
              type: boolean
              enum: [ false ]
            message:
              type: string
              example: "Не найдено"
            data:
              type: "null"
            error:
              allOf:
                - $ref: "#/components/schemas/Error"
                - type: object
                  properties:
                    code:
                      type: integer
                      example: 404
                    message:
                      type: string
                      example: "Данные отсутствуют"
                    details:
                      type: "null"
            meta:
              type: "null"

    Error:
      type: [ object, "null" ]
      properties:
        code:
          type: integer
          description: "HTTP-код ошибки (например, 400, 404 и т.д.)"
        message:
          type: string
          description: "Сообщение об ошибке"
        details:
          type: [ array, "null" ]
          nullable: true
          description: "Список дополнительных деталей об ошибке. Используется при валидации."
          items:
            type: object
            properties:
              field:
                type: string
                description: "Название поля, вызвавшего ошибку"
              message:
                type: string
                description: "Сообщение о проблеме с этим полем"

    Meta:
      type: [ object, "null" ]

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Уникальный идентификатор пользователя
        email:
          type: string
          format: email
          description: Адрес электронной почты пользователя
        name:
          type: string
          example: "Иванов Пётр Васильевич"
          description: Имя пользователя
        createdAt:
          type: string
          format: date-time
          description: Время создания пользователя

    User.WithIsBroker:
      allOf:
        - $ref: "#/components/schemas/User"
        - type: object
          properties:
            isBroker:
              type: boolean
              description: Указывает, является ли пользователь брокером

    User.WithoutIsBroker:
      $ref: "#/components/schemas/User"

    Lot:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Уникальный идентификатор лота
        brokerId:
          type: string
          format: uuid
          description: Идентификатор брокера (ссылка на пользователя)
        name:
          type: string
          description: Название лота
          example: "Земельный участок"
        status:
          type: string
          enum:
            - purchased
            - renovation
            - hold
            - listed_for_sale
            - sold
            - closed
          description: Статус лота
          example: "purchased"
        purchasePrice:
          type: number
          format: double
          description: Цена покупки лота
          example: 1500000.00
        salePrice:
          type: number
          format: double
          description: Цена продажи лота
          example: 3000000.00
        brokerCommissionPercent:
          type: number
          format: float
          description: Процент комиссии брокера
          example: 25.00
        brokerTaxPercent:
          type: number
          format: float
          description: Процент налога с брокера
          example: 7.00
        purchaseDate:
          type: string
          format: date
          description: Дата покупки лота
        updatedAt:
          type: string
          format: date-time
          description: Время последнего обновления записи
        createdAt:
          type: string
          format: date-time
          description: Время создания записи

    LotStatusHistory:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Уникальный идентификатор записи истории статуса лота
        status:
          type: string
          enum:
            - purchased
            - renovation
            - hold
            - listed_for_sale
            - sold
            - closed
          description: Статус лота
        createdAt:
          type: string
          format: date-time
          description: Дата создания записи

    LotMember:
      type: object
      properties:
        lotId:
          type: string
          format: uuid
          description: Идентификатор лота
        memberId:
          type: string
          format: uuid
          nullable: true
          description: Идентификатор участника
        referralMemberId:
          type: string
          format: uuid
          nullable: true
          description: Идентификатор реферального участника
        sharePercent:
          type: number
          format: double
          description: Доля участника (%) в лоте
        referralFeePercent:
          type: number
          format: double
          description: Процент реферальной комиссии

    LotExpense:
      type: object
      properties:
        lotId:
          type: string
          format: uuid
          description: Идентификатор лота
        transactionId:
          type: string
          format: uuid
          description: Идентификатор транзакции
        description:
          type: string
          description: Описание расходов

    LotTransaction:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Уникальный идентификатор транзакции
        lotId:
          type: string
          format: uuid
          description: Идентификатор лота
        userId:
          type: string
          format: uuid
          nullable: true
          description: Идентификатор пользователя, связанного с транзакцией
        type:
          type: string
          enum:
            - investment
            - payout
            - broker_commission
            - broker_tax
            - referral_fee
            - expense
          description: Тип транзакции
        amount:
          type: number
          format: double
          description: Сумма транзакции
        updatedAt:
          type: string
          format: date-time
          description: Время последнего изменения записи
        createdAt:
          type: string
          format: date-time
          description: Время создания записи

    LotFinancials:
      type: object
      properties:
        lotId:
          type: string
          format: uuid
          description: Идентификатор лота
        purchasePrice:
          type: number
          format: double
          description: Цена покупки лота
        salePrice:
          type: number
          format: double
          description: Цена продажи лота
        grossProfit:
          type: number
          format: double
          description: Валовая прибыль
        netProfit:
          type: number
          format: double
          description: Чистая прибыль
        brokerCommission:
          type: number
          format: double
          description: Комиссия брокера
        brokerTax:
          type: number
          format: double
          description: Налог брокера
        totalInvestments:
          type: number
          format: double
          description: Общая сумма инвестиций
        totalPayouts:
          type: number
          format: double
          description: Общая сумма выплат
        totalReferralFees:
          type: number
          format: double
          description: Общая сумма реферальных вознаграждений
        createdAt:
          type: string
          format: date-time
          description: Дата создания записи