openapi: 3.1.0
info:
  title: BrokerAssistant API
  version: 1.0.0
  description: |
    BrokerAssistant API предоставляет функционал для управления лотами на торгах по банкротству, 
    взаимодействия между брокерами и инвесторами, а также распределения прибыли. 
    
    🔐 Безопасность и авторизация:
    - Авторизация реализована через JWT-токены, передаваемые в `HttpOnly`-cookie.
    - Для аутентификации необходимо выполнить логин (`/auth/login`), после чего токен автоматически отправляется в запросах.
    - Фронтенд должен отправлять запросы с `withCredentials: true`, чтобы браузер автоматически передавал `accessToken`.
    - Обновление `accessToken` выполняется через `refreshToken` (`/auth/refresh`).
    - Для выхода из системы вызывается `/auth/logout`, удаляющий сессионные токены.
    
    📄 Документация API:
    - Полный список эндпоинтов доступен в разделе "Paths".
    - Описание параметров запросов находится в "Schemas".
servers:
  - url: "https://api.brokerassistant.com"
    description: "Production server"
  - url: "http://localhost:8080"
    description: "Development server"
tags:
  - name: "Auth"
    description: "Методы аутентификации"
  - name: "Users"
    description: "Методы работы с пользователями"
  - name: "Members"
    description: "Методы управления участниками"
  - name: "Lots"
    description: "Методы управления лотами"
  - name: "LotMembers"
    description: "Управление участниками лотов"
  - name: "LotStatus"
    description: "Методы управления статусами лотов"
  - name: "Expenses"
    description: "Учет расходов"
  - name: "Transactions"
    description: "Финансовые транзакции"
  - name: "Financials"
    description: "Финансовый учет по лотам"
#  - name: "Analytics"
#    description: "Аналитические данные"
security:
  - SessionCookiesJWT: [ ]

paths:
  /auth/register:
    $ref: './paths/auth/register.yaml'

  /auth/login:
    $ref: './paths/auth/login.yaml'

  /auth/status:
    $ref: './paths/auth/status.yaml'

  /auth/refresh:
    $ref: './paths/auth/refresh.yaml'

  /auth/logout:
    $ref: './paths/auth/logout.yaml'

#  /auth/yandex/login:
#    get:
#      summary: "Перенаправляет пользователя на Яндекс"
#      tags:
#        - "Auth"

#  /auth/yandex/callback:
#    get:
#      summary: "Обрабатывает code, получает accessToken от Яндекса"
#      tags:
#        - "Auth"

#  /auth/yandex/register:
#    post:
#      summary: "Создаёт пользователя с auth_method = 'yandex'"
#      tags:
#        - "Auth"

#  /auth/yandex/connect:
#    post:
#      summary: "Привязывает Яндекс ID к существующему аккаунту"
#      tags:
#        - "Auth"

#  /auth/yandex/unlink:
#    post:
#      summary: "Отвязывает Яндекс ID"
#      tags:
#        - "Auth"

  /users/me:
    $ref: './paths/users/users.me.yaml'

  /members:
    $ref: './paths/members/members.yaml'

  /members/{userId}:
    $ref: './paths/members/members.userId.yaml'

  /lots:
    $ref: './paths/lots/lots.yaml'

  /lots/{lotId}:
    $ref: './paths/lots/lots.lotId.yaml'

  /lots/{lotId}/members:
    $ref: './paths/lotMembers/members.yaml'

  /lots/{lotId}/members/{memberId}:
    $ref: './paths/lotMembers/members.memberId.yaml'

  /lots/{lotId}/status:
    $ref: './paths/lotStatus/status.yaml'

  /lots/{lotId}/status-history:
    $ref: './paths/lotStatus/status-history.yaml'

  /lots/{lotId}/expenses:
    $ref: './paths/expenses/expenses.yaml'

  /lots/{lotId}/expenses/{transactionId}:
    $ref: './paths/expenses/expenses.transactionId.yaml'

  /lots/{lotId}/transactions:
    $ref: './paths/transactions/transactions.yaml'

  /lots/{lotId}/financials:
    $ref: './paths/financials/financials.yaml'

#  /analytics/dashboard:
#    get:
#      summary: "Получить общую статистику"
#      tags:
#        - "Analytics"
#      responses:
#        "200":
#          description: "Данные аналитики"
components:
  schemas:
    BaseResponse:
      $ref: './components/schemas/BaseResponse.yaml#/BaseResponse'
    BadErrorResponse:
      $ref: './components/schemas/BadErrorResponse.yaml#/BadErrorResponse'
    ValidationErrorResponse:
      $ref: './components/schemas/BadErrorResponse.yaml#/ValidationErrorResponse'
    UnauthorizedErrorResponse:
      $ref: './components/schemas/UnauthorizedErrorResponse.yaml#/UnauthorizedErrorResponse'
    ForbiddenErrorResponse:
      $ref: './components/schemas/ForbiddenErrorResponse.yaml#/ForbiddenErrorResponse'
    NotFoundErrorResponse:
      $ref: './components/schemas/NotFoundErrorResponse.yaml#/NotFoundErrorResponse'
    Error:
      $ref: './components/schemas/Error.yaml#/Error'
    Meta:
      $ref: './components/schemas/Meta.yaml#/Meta'
    User:
      $ref: './components/schemas/User.yaml#/User'
    User.WithIsBroker:
      $ref: './components/schemas/User.yaml#/User.WithIsBroker'
    User.WithoutIsBroker:
      $ref: './components/schemas/User.yaml#/User.WithoutIsBroker'
    Lot:
      $ref: './components/schemas/Lot.yaml#/Lot'
    Lot.WithoutStatus:
      $ref: './components/schemas/Lot.yaml#/Lot.WithoutStatus'
    Lot.WithStatus:
      $ref: './components/schemas/Lot.yaml#/Lot.WithStatus'
    LotMember:
      $ref: './components/schemas/LotMember.yaml#/LotMember'
    LotStatusHistory:
      $ref: './components/schemas/LotStatusHistory.yaml#/LotStatusHistory'
    LotExpense:
      $ref: './components/schemas/LotExpense.yaml#/LotExpense'
    LotTransaction:
      $ref: './components/schemas/LotTransaction.yaml#/LotTransaction'
    LotTransactionGroup:
      $ref: './components/schemas/LotTransaction.yaml#/LotTransactionGroup'
    LotFinancials:
      $ref: './components/schemas/LotFinancials.yaml#/LotFinancials'
  securitySchemes:
    $ref: './components/securitySchemes.yaml'