openapi: 3.1.0
info:
  title: BrokerAssistant API
  version: 1.0.0
  description: |
    BrokerAssistant API предоставляет функционал для управления лотами на торгах по банкротству, 
    взаимодействия между брокерами и инвесторами, а также распределения прибыли. 
    
    🔐 Безопасность и авторизация:
    - Авторизация реализована через JWT-токены, передаваемые в `HttpOnly`-cookie.
    - Для аутентификации необходимо выполнить логин (`/auth/login`), после чего токен автоматически отправляется в запросах.
    - Фронтенд должен отправлять запросы с `withCredentials: true`, чтобы браузер автоматически передавал `accessToken`.
    - Обновление `accessToken` выполняется через `refreshToken` (`/auth/refresh`).
    - Для выхода из системы вызывается `/auth/logout`, удаляющий сессионные токены.
    
    📄 Документация API:
    - Полный список эндпоинтов доступен в разделе "Paths".
    - Описание параметров запросов находится в "Schemas".
servers:
  - url: "https://api.brokerassistant.com"
    description: "Production server"
  - url: "http://localhost:8080"
    description: "Development server"
tags:
  - name: "Auth"
    description: "Методы аутентификации"
  - name: "Users"
    description: "Методы работы с пользователями"
  - name: "Members"
    description: "Методы управления участниками"
  - name: "Lots"
    description: "Методы управления лотами"
  - name: "LotMembers"
    description: "Управление участниками лотов"
  - name: "LotStatusHistory"
    description: "Методы управления статусами лотов"
  - name: "Expenses"
    description: "Учет расходов"
  - name: "Transactions"
    description: "Финансовые транзакции"
  - name: "Financials"
    description: "Финансовый учет по лотам"
#  - name: "Analytics"
#    description: "Аналитические данные"
security:
  - SessionCookiesJWT: [ ]

paths:
  /auth/register:
    $ref: './paths/auth/register.yaml'
  /auth/login:
    $ref: './paths/auth/login.yaml'
#  /auth/status:
#    $ref: './paths/auth/logout.yaml'
#  /auth/refresh:
#    $ref: './paths/auth/logout.yaml'
#  /auth/logout:
#    $ref: './paths/auth/logout.yaml'
#  /users/me:
#    $ref: './paths/auth/logout.yaml'
#  /members:
#    $ref: './paths/auth/logout.yaml'
#  /members/{userId}:
#    $ref: './paths/auth/logout.yaml'
#  /lots:
#    $ref: './paths/auth/logout.yaml'
#  /lots/{lotId}:
#    $ref: './paths/auth/logout.yaml'
#  /lots/{lotId}/members:
#    $ref: './paths/auth/logout.yaml'
#  /lots/{lotId}/members/{memberId}:
#    $ref: './paths/auth/logout.yaml'
#  /lots/{lotId}/status-history:
#    $ref: './paths/auth/logout.yaml'
#  /lots/{lotId}/expenses:
#    $ref: './paths/auth/logout.yaml'
#  /lots/{lotId}/expenses/{transactionId}:
#    $ref: './paths/auth/logout.yaml'
#  /lots/{lotId}/transactions:
#    $ref: './paths/auth/logout.yaml'
#  /lots/{lotId}/financials:
#    $ref: './paths/auth/logout.yaml'
components:
  securitySchemes:
    $ref: './components/securitySchemes.yaml'
  schemas:
    BaseResponse:
      $ref: './components/schemas/BaseResponse.yaml'
    ValidationErrorResponse:
      $ref: './components/schemas/ValidationErrorResponse.yaml'
    UnauthorizedErrorResponse:
      $ref: './components/schemas/UnauthorizedErrorResponse.yaml'
    NotFoundErrorResponse:
      $ref: './components/schemas/NotFoundErrorResponse.yaml'
    Error:
      $ref: './components/schemas/Error.yaml'
    Meta:
      $ref: './components/schemas/Meta.yaml'
    User:
      $ref: './components/schemas/User.yaml'
    User.WithIsBroker:
      $ref: './components/schemas/User.WithIsBroker.yaml'
    User.WithoutIsBroker:
      $ref: './components/schemas/User.WithoutIsBroker.yaml'
    Lot:
      $ref: './components/schemas/Lot.yaml'
    LotMember:
      $ref: './components/schemas/LotMember.yaml'
    LotStatusHistory:
      $ref: './components/schemas/LotStatusHistory.yaml'
    LotExpense:
      $ref: './components/schemas/LotExpense.yaml'
    LotTransaction:
      $ref: './components/schemas/LotTransaction.yaml'
    LotTransactionGroup:
      $ref: './components/schemas/LotTransactionGroup.yaml'
    LotFinancials:
      $ref: './components/schemas/LotFinancials.yaml'